@using ShatteredSunCommunity.Components.Pages
@using ShatteredSunCommunity.Models
@inject Models.SanctuarySunData data
<h3>UnitViewGroupData</h3>
<table>
    <tbody>
        @foreach (var item in data.Units)
        {
            <tr>
                <td>
                    @UnitViewFragment(item)
                </td>
            </tr>
            <tr>
                <td><hr /></td>
            </tr>
        }
    </tbody>
</table>

@code {
    void selectUpdated(object sender, EventArgs args)
    {
        base.StateHasChanged();
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void Dispose()
    {
    }

    private RenderFragment<UnitData> UnitViewFragment = Item =>
    @<div>
        <table>
            <tr>
                <td class="unitImage" rowspan="5">@Item["GeneralIconUI"]</td>
                <th class="unitViewData">@Item["GeneralDisplayName"]</th>
            </tr>
            <tr><td>[@Item["GeneralName"]] @Item["GeneralDisplayName"]</td></tr>
            <tr><td>Faction: @Item["Faction"]</td></tr>
            <tr><td>tpId: @Item["GeneralTpId"]</td></tr>
            <tr><td>Enabled: @Item["Enabled"]</td></tr>

        </table>
        <hr />
        <table class="unitTable">
            <tr class="unitRow">
                <td class="unitCol">@Item["DefenceHealthMax"]</td>
                <td class="unitCol">@Item["EconomyCostEnergy"]</td>
                <td class="unitCol">@Item["EconomyCostAlloys"]</td>
                <td class="unitCol">@Item["EconomyBuildTime"]</td>
            </tr>
            @foreach(var field in Item.Values.Where(v=>!v.IsHeader))
            {
                <tr class="unitRow">
                    @foreach(var group in field.GroupParts)
                    {
                    <td class="unitCol">@group</td>
                    }
                    <td class="unitCol" colspan="@field.ColSpan">@field.Text</td>
                </tr>
            }
        </table>
    </div>;
}
