@page "/unitView"
@inherits LayoutComponentBase
@using ShatteredSunCommunity.Components.PageComponents
@using ShatteredSunCommunity.Components.PageSupport
@using ShatteredSunCommunity.Models
@using Components.Pages
@using Components.PageComponents
@using System.Reflection
@using System.ComponentModel
@inject Models.SanctuarySunData data
@inject Components.PageSupport.UnitViewFilters unitViewFilters;
@rendermode InteractiveServer

<PageTitle>Unit Viewer</PageTitle>


<h1 class="unitView">UnitView</h1>
<h2>@ProductName</h2>
<div class="unitViewContainer">
    <table class="unitViewTable">
        <UnitViewFilterContainer />
    </table>

    <table class="unitViewTable">
        <thead>
            @foreach(var selector in unitViewFilters.GroupBy.GetDisplayableSelectors())
            {
                var row = unitViewFilters.GetDataHeaderRow(selector);
                <tr>
                
                    @foreach (var column in row.Columns)
                    {
                        <th class="unitHeader" colspan="@column.Colspan">@column.Header</th>
                    }
                </tr>
            }

        </thead>
        <tbody>
            @foreach(var row in unitViewFilters.GetRows(data.Units))
            {
                <tr>
                    @foreach(var unit in row.Units)
                    {
                        <td class="unitView">@DisplayUnitData(unit)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    public string ProductName => Assembly.GetEntryAssembly()?.GetCustomAttribute<AssemblyProductAttribute>()?.Product;
    private string GetUnitHeaderClass(UnitViewHeaderRow row)
    {
        return row.IsLastHeader ? "lastUnitHeader" : "unitHeader";
    }
    private RenderFragment DisplayUnitData(UnitData unit)
    {
        if (unit != null)
        {
            if (unitViewFilters.ShowUnitThumbnails)
                return UnitViewThumbprint(unit);
            else
                return UnitViewFull(unit);
        }
        return Empty;
    }

    private RenderFragment Empty =>@<div/>;

    private RenderFragment<UnitData> UnitViewThumbprint = item =>
    @<div class="divThumbnail">
        <table class="unitTableThumbnail" style="vertical-align: top;">
            @foreach(var field in item.Values.Where(v=>v.IsThumbnail))
            {
                <tr class="unitRowThumbnail">
                    <th class="unitColThumbnail">@field.DisplayName</th>
                    <td class="unitColThumbnail">@field.Text</td>
                </tr>
            }
        </table>
    </div>;
    private RenderFragment<UnitData> UnitViewFull = item =>
    @<div>
        <table>
            <tr>
                <td class="unitImageFrame" rowspan="5">
                    <div class="unitImage">
                        @item["GeneralIconUI"]
                    </div>
                </td>
                <th class="unitViewData">@item["GeneralDisplayName"]</th>
            </tr>
            <tr><td>[@item["GeneralName"]] @item["GeneralDisplayName"]</td></tr>
            <tr><td>Faction: @item["Faction"]</td></tr>
            <tr><td>tpId: @item["GeneralTpId"]</td></tr>
            <tr><td>Enabled: @item["Enabled"]</td></tr>

        </table>
        <hr />
        <table class="unitTable">
            <tr class="unitRow">
                <td class="unitCol">@item["DefenceHealthMax"]</td>
                <td class="unitCol">@item["EconomyCostEnergy"]</td>
                <td class="unitCol">@item["EconomyCostAlloys"]</td>
                <td class="unitCol">@item["EconomyBuildTime"]</td>
            </tr>
            @foreach(var field in item.Values.Where(v=>!v.IsHeader))
        {
            <tr class="unitRow">
                @foreach(var group in field.GroupParts)
            {
                <td class="unitCol">@group</td>
            }
                <td class="unitCol" colspan="@field.ColSpan">@field.Text</td>
            </tr>
        }
        </table>
    </div>
    ;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        unitViewFilters.Changed += (o, e) => base.StateHasChanged();
    }
}
