@page "/unitViewData"
@inherits LayoutComponentBase
@using ShatteredSunCommunity.Models
@rendermode InteractiveServer
<style>
    *   {
            border: none;
        }
</style>

<table>
    <tr>
        <td rowspan="4">@Item["GeneralIconUI"]</td>
        <th class="unitViewData">@Item["GeneralDisplayName"]</th>
    </tr>
    <tr>
        <td>@Item["GeneralName"]</td>
    </tr>
    <tr>
        <td>Faction: @Item["Faction"]</td>
    </tr>
    <tr>
        <td>tpId: @Item["GeneralTpId"]</td>
    </tr>
    <tr>
        <td>Enabled: @Item["Enabled"]</td>
    </tr>

</table>

@code {
    [Parameter]
    public UnitData Item { get; set; } = null;
}
